# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui
dados = [
    (1900, 0.08),
    (1920, 0.27),
    (1940, 0.12),
    (1960, 0.03),
    (1980, 0.26),
    (2000, 0.40),
    (2020, 1.02),
]

In [17]:
ano = pd.Series ([1900, 1920, 1940, 1960, 1980, 2000, 2020], name="ano")

print(ano)

0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
Name: ano, dtype: int64

In [19]:
anomalia_termica = pd.Series([0.08, 0.27, 0.12, 0.03, 0.26, 0.40, 1.02], name="anomalia_termica")

print(anomalia_termica)

0    0.08
1    0.27
2    0.12
3    0.03
4    0.26
5    0.40
6    1.02
Name: anomalia_termica, dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [67]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic2 = pd.Series({"ano":[1900, 1920, 1940, 1960, 1980, 2000, 2020]})
temp = pd.Series({"temperatura":[-.08, -.27, .12, -.03, .26, .40, 1.02]})

print(dic2)
print (temp)

ano    [1900, 1920, 1940, 1960, 1980, 2000, 2020]
dtype: object
temperatura    [-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]
dtype: object

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [106]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr, columns=["x1", "x2", "x3"])


print(df)

            x1          x2          x3
0   103.112285  122.000509   94.612672
1   128.069834  105.273140  111.756243
2    92.803051   97.979686  101.492737
3   109.205988   90.414978   80.942009
4    92.879804   96.492503  112.805395
5    85.651039  112.189545   85.140132
6    90.643402  101.652910  100.969061
7    97.907980   92.478375   97.391282
8   109.002245  101.347639  112.175695
9   105.844283   90.266934   86.477087
10  104.494401   77.103045  102.329793
11  109.523772  106.191361  112.093464
12  107.908858   96.264030  107.532787
13  113.824153   96.356760  116.720450
14   90.180058  101.601484  103.921511
15   85.018234   95.035058  115.073366
16   81.934057   85.087977   95.019699
17   99.790067  107.167610   95.396588
18  103.318624   86.422077  115.374959
19  129.269754   99.781991  114.171274

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [108]:
#seu código aqui
df.index = range(1, 21)
print(df)

            x1          x2          x3
1   103.112285  122.000509   94.612672
2   128.069834  105.273140  111.756243
3    92.803051   97.979686  101.492737
4   109.205988   90.414978   80.942009
5    92.879804   96.492503  112.805395
6    85.651039  112.189545   85.140132
7    90.643402  101.652910  100.969061
8    97.907980   92.478375   97.391282
9   109.002245  101.347639  112.175695
10  105.844283   90.266934   86.477087
11  104.494401   77.103045  102.329793
12  109.523772  106.191361  112.093464
13  107.908858   96.264030  107.532787
14  113.824153   96.356760  116.720450
15   90.180058  101.601484  103.921511
16   85.018234   95.035058  115.073366
17   81.934057   85.087977   95.019699
18   99.790067  107.167610   95.396588
19  103.318624   86.422077  115.374959
20  129.269754   99.781991  114.171274

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [114]:
# seu código aqui
df["media"] = df.mean(axis=1)

print(df)

            x1          x2          x3       media
1   103.112285  122.000509   94.612672  106.575155
2   128.069834  105.273140  111.756243  115.033073
3    92.803051   97.979686  101.492737   97.425158
4   109.205988   90.414978   80.942009   93.520991
5    92.879804   96.492503  112.805395  100.725901
6    85.651039  112.189545   85.140132   94.326905
7    90.643402  101.652910  100.969061   97.755125
8    97.907980   92.478375   97.391282   95.925879
9   109.002245  101.347639  112.175695  107.508526
10  105.844283   90.266934   86.477087   94.196101
11  104.494401   77.103045  102.329793   94.642413
12  109.523772  106.191361  112.093464  109.269533
13  107.908858   96.264030  107.532787  103.901892
14  113.824153   96.356760  116.720450  108.967121
15   90.180058  101.601484  103.921511   98.567684
16   85.018234   95.035058  115.073366   98.375553
17   81.934057   85.087977   95.019699   87.347245
18   99.790067  107.167610   95.396588  100.784755
19  103.318624   86.422077  115.374959  101.705220
20  129.269754   99.781991  114.171274  114.407673

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [116]:
# seu código aqui

df["log_med"] = np.log(df["media"])

print(df)

            x1          x2          x3       media   log_med
1   103.112285  122.000509   94.612672  106.575155  4.668850
2   128.069834  105.273140  111.756243  115.033073  4.745220
3    92.803051   97.979686  101.492737   97.425158  4.579084
4   109.205988   90.414978   80.942009   93.520991  4.538186
5    92.879804   96.492503  112.805395  100.725901  4.612403
6    85.651039  112.189545   85.140132   94.326905  4.546766
7    90.643402  101.652910  100.969061   97.755125  4.582466
8    97.907980   92.478375   97.391282   95.925879  4.563576
9   109.002245  101.347639  112.175695  107.508526  4.677570
10  105.844283   90.266934   86.477087   94.196101  4.545379
11  104.494401   77.103045  102.329793   94.642413  4.550106
12  109.523772  106.191361  112.093464  109.269533  4.693818
13  107.908858   96.264030  107.532787  103.901892  4.643447
14  113.824153   96.356760  116.720450  108.967121  4.691046
15   90.180058  101.601484  103.921511   98.567684  4.590743
16   85.018234   95.035058  115.073366   98.375553  4.588792
17   81.934057   85.087977   95.019699   87.347245  4.469891
18   99.790067  107.167610   95.396588  100.784755  4.612987
19  103.318624   86.422077  115.374959  101.705220  4.622079
20  129.269754   99.781991  114.171274  114.407673  4.739768